.FloatingObjectAnimation {
    background-color: gray;
    padding: 100px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.avatar {

	overflow: hidden;

	transform: translatey(0px);
	animation: float 3.5s ease-in-out infinite;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
	
		transform: translatey(0px);
	}
}