.AnimationDiv {
    margin-bottom: 100vh;
    display: flex;
    justify-content: center;
}
.text {
    background-color: gray;
    padding: 20px;
    height: 100px;
    width: 300px;
    margin-left: auto;

}
.RightAnimation{
	position: relative;
	transform: translateX(100px);
	opacity: 0;
	transition: 2s all ease;
  }
  .RightAnimation.active{
	transform: translateX(0);
	opacity: 1;
}